@import url('https://fonts.googleapis.com/css2?family=Radley:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,300..700;1,300..700&display=swap');

* {
    font-family: "Radley", serif;   
    margin-bottom: 10px;
    color: white;
}

.titulo{
    font-family: "Rosario", sans-serif;
}

header {
    width: 100%;
    background-color: #F8B3AB;
    padding: 10px 20px;       
    box-sizing: border-box;
}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.menu ul li {
    cursor: pointer;
    font-size: 18px;
}